/* for index.tpl */
div.my-header {
  padding-top: 1em;
  border-bottom: 2px solid #ddd;
}
div.exp_progress_box {
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: none;  /* hidden by default */
}
tr.undo_row {
  display: none;  /* default, will be overridden to display */
  color: #999999;
  background: #eeeeee;
}
td.actionbuttons {
  white-space: nowrap;  /* keep all buttons on one line */
}
input#rowfilter {
  font-weight: normal;
  margin-left: 2em;
  padding: 0 0.5em;
  border-radius: 10em;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 2px 1px #ccc;
}
span#filterclear {
  position: relative;
  left: -1.2em;
  top: -0.1em;
  color: #999;
  cursor: pointer;
}
span.hostname {
  background: #fe8;
  padding: 0 0.2em;
  border-radius: 0.3em;
}
body {
  overflow-y: scroll;  /* Scroll bar always present -- avoids bouncing on hide/show of rows */
}
table.table-vertmid td, table.table-vertmid th {
  vertical-align: middle !important;
}
.number_cell {
  text-align: right;
}
.chart_cell {
  text-align: center;
  position: relative;
}
canvas.aml {
  width: 4em;
  height: 1em;
  /* centering */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2em;  /* half width */
  margin-top: -0.5em;  /* half height */
}
canvas.heatmap {
  /* do not interpolate the heatmaps when scaling:
   * http://stackoverflow.com/a/7665647
   */
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
  width: 4em;
  height: 2em;
  /* centering */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2em;  /* half width */
  margin-top: -1em;  /* half height */
}
canvas.velocity {
  width: 4em;
  height: 1em;
  /* centering */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2em;  /* half width */
  margin-top: -0.5em;  /* half height */
}
.alert .progress {
  margin-bottom: 0;
}
#rem_in, #rem_out {
  padding-right: 0.3em;
}

/* for new.tpl */
div#inidisplay {
  display: none;
}
pre#inidisplay_contents {
  max-height: 30em;
}

/* CSS animation woo! */
.rotatey {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
