{% extends "base.html" %}
{% set name='boxes' %}
{% set Title='Boxes' %}
{% set scripts=['/static/angular-1.6.0.min.js', '/static/angular-resource-1.6.0.min.js', '/static/atles_angular.js'] %}

{% block body %}
{%- raw -%}
<div class="container" ng-app="BoxesApp" ng-controller="BoxesCtrl">
  <h1>Boxes</h1>

  <div class="row" ng-cloak>
    <div class="col-sm-10 col-sm-offset-1 text-muted" ng-show="boxes !== null && !boxes.length">
      <p>No boxes currently connected.  When <code>atles_remote.py</code> is run on a box, it will appear here.</p>
    </div>

    <div class="col-sm-10 col-sm-offset-1 text-muted" ng-show="boxes === 'error'">
      <p>Error receiving data from server.  <code>atles_web.py</code> may not be running.</p>
    </div>
  </div>

  <div class="row flex-container" ng-cloak ng-show="boxes.length && boxes !== 'error'">
    <div class="col-lg-3 col-sm-4 flex-item" ng-repeat="box in boxes | orderBy:'name'">
      <div class="gitstatus" title="{{box.gitlong}}">
        ver: {{box.gitshort}}
      </div>
      <div class="panel" ng-class="{'panel-success': box.connected, 'panel-danger': !box.connected}">
        <div class="panel-heading">
          <h2 class="panel-title" style="font-size: x-large">
            {{box.name}}
          </h2>
          {{box.connected ? "connected" : "down"}}
          {{box.error ? "(" + box.error + ")" : ""}}
        </div>
        <div class="panel-body" ng-show="box.connected">
          <div class="exp_progress_box alert alert-info small" ng-show="box.lock_data.running" my-progress-bar>
            <button type="button" class="btn btn-danger btn-xs pull-right" title="Kill experiment" my-clear-button="{{box.name}}">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <strong>Experiment running</strong><br>since {{box.lock_data | since}}.
            <div class="progress" style="width: 100%;">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{box.lock_data | barwidth}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: ((box.lock_data | barwidth) + '%') }">
                <span class="pull-right" id="rem_in">{{box.lock_data | remaining:'in'}}</span>
              </div>
              <span class="pull-right" id="rem_out">{{box.lock_data | remaining:'out'}}</span>
            </div>
          </div>
          <div ng-show="!box.lock_data.running">
            <p>
              <a href="/new/{{box.name}}" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-plus-sign"></span>
                New Experiment
              </a>
            </p>
            <p>
              <button ng-show="!box.local" type="button" class="btn btn-default" role="button" my-sync-button="{{box.name}}" ng-disabled="syncing.has(box.name)">
                <span class="glyphicon glyphicon-refresh" ng-class="{'rotatey': syncing.has(box.name)}"></span>
                <span class="btntxt" ng-if="!syncing.has(box.name)">
                  Sync Data
                </span>
                <span class="btntxt" ng-if="syncing.has(box.name)">
                  Syncing...
                </span>
              </button>
              <a href="/image/{{box.name}}/648" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-camera"></span>
                <span class="btntxt">
                  Get Image
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="panel-body" ng-if="box.exp_data.count == 0">
          <i>[No experiment data found.]</i>
        </div>
        <div class="panel-body exp_info" ng-if="box.exp_data.count > 0">
          <table class="table table-hover table-condensed table-vertmid">
            <thead>
              <tr>
                <td colspan=5><b>Most recent experiment synced:</b><br>
                  {{box.exp_data.last_name}}
                  -
                  {{box.exp_data.last_starttime}}
                </td>
              </tr>
              <tr>
                <th colspan=2>
                  Last {{box.exp_data.count}} experiments
                </th>
                <th>Min</th>
                <th>Avg</th>
                <th>Max</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="box.exp_data.sketchy" title="Sketchy = # tracking points > 1">
                <td>Sketchy</td>
                <td class="chart_cell">
                  <canvas sparkline sparkline-type="yMinMax" ng-model="box.exp_data.sketchy" class="sparkline"></canvas>
                </td>
                <td>{{box.exp_data.min_sketchy * 100 | number:1}}%</td>
                <td>{{box.exp_data.avg_sketchy * 100 | number:1}}%</td>
                <td>{{box.exp_data.max_sketchy * 100 | number:1}}%</td>
              </tr>
              <tr ng-if="box.exp_data.invalid" title="Invalid = status of 'missing' or 'lost'">
                <td>Invalid</td>
                <td class="chart_cell">
                  <canvas sparkline ng-model="box.exp_data.invalid" sparkline-type="yMinMax" class="sparkline"></canvas>
                </td>
                <td>{{box.exp_data.min_invalid * 100 | number:1}}%</td>
                <td>{{box.exp_data.avg_invalid * 100 | number:1}}%</td>
                <td>{{box.exp_data.max_invalid * 100 | number:1}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{%- endraw -%}
{% endblock %}
