[Unit]
Description=ATLeS Web Server
After=syslog.target

[Service]
User=fishhead
Group=fishhead
WorkingDirectory=/home/fishhead/atles/
ExecStart=/home/fishhead/atles/src/atles_web.py
Type=idle

[Install]
WantedBy=multi-user.target
