[Unit]
Description=ATLeS RPC service
After=sshd.service
Requires=sshd.service

[Service]
WorkingDirectory=/home/pi/fishycam
ExecStart=/home/pi/fishycam/src/atles_remote.py
Type=idle

[Install]
WantedBy=multi-user.target
