[Unit]
Description=ATLeS RPC service
After=ssh.service
Requires=ssh.service

[Service]
WorkingDirectory=/home/pi/ATLeS
ExecStart=/home/pi/ATLeS/src/atles_remote.py
Type=idle

[Install]
WantedBy=multi-user.target
