<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<script src="/static/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/fishweb.js"></script>
{% for script in scripts: -%}
  <script src="{{script}}"></script>
{% endfor -%}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/fishweb.css">
{% block extrahead %}{% endblock -%}
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
    <div class="container">
      <ul class="nav navbar-nav">
        <li {{ 'class="active"' if name == 'boxes' else '' }}>
          <a href="/">Boxes / Experiments
          {% if name == 'boxes': -%}
            <span class="sr-only">(current)</span>
          {%- endif %}
          </a>
        </li>
        <li {{ 'class="active"' if name == 'tracks' else '' }}>
          <a href="/tracks/">Tracks
          {% if name == 'tracks': -%}
            <span class="sr-only">(current)</span>
          {%- endif %}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Modal for alerts -->
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content panel-warning">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="alertModalLabel">Alert</h3>
        </div>
        <div class="modal-body">
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        -->
      </div>
    </div>
  </div>

  <!-- Content -->
  {% block body %}{% endblock %}

</body>
</html>
