{% extends "base.html" %}
{% set name='tracks' %}
{% set Title='Track Analyzer/Viewer' %}

{% block extrahead %}
<script type="text/javascript">
// setup handlers / onload stuff
$(function() {
  $("#filterclear").click(function(e) {
    $("#rowfilter").val('');
    $("#rowfilter").trigger('input');
  });
  $("#rowfilter").on('input', function(e) {
    filter_rows(this.value);
  });
  $("#rowfilter").trigger('input');
  $("._selectallbutton").click(toggle_select_all);
  $("tr.track_row .selectbutton").click(function(e) {
    var row = $(this).closest("tr");
    togglesel(row);
  });
  // create charts/heatmaps
  console.time('asml');
  $("canvas.asml").each(makeASML);
  console.timeEnd('asml');
  console.time('heatmaps');
  $("canvas.heatmap").each(makeHeatMap);
  console.timeEnd('heatmaps');
});
</script>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Track Analyzer/Viewer</h1>

  {% if filters or selected: %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Filters
            <a class="close" href="/tracks/">&times;</a>
          </h2>
        </div>
        <div class="panel-body form-horizontal">
          {% for param in selected|sort: %}
          <div class="form-group">
            <label class="control-label col-sm-1">{{param}}</label>
            <div class="col-sm-11"><p class="form-control-static">
              {{selected[param]['val']}}
              <a class="text-danger" href="?{{selected[param]['querystring_without']}}"><strong>&times;</strong></a>
            </p></div>
          </div>
          {% endfor %}
          {% for param in filters|sort: %}
          <div class="form-group">
            <label class="control-label col-sm-1" for='bob'>{{param}}</label>
            <div class="col-sm-11">
              {% for val in filters[param]: %}
              <a class="btn btn-default" role="button" href="?{{ query_string + "&" + param + "=" + val|string}}">{{ val }}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% else: %}
  <p>
    <a href="/tracks/filter/" class="btn btn-default" role="button">
      Enable Filters
    </a>
  </p>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover table-vertmid">
        <thead>
          <tr>
            <th>
              <button type="button" class="btn btn-default btn-xs text-muted _selectallbutton" title='Select All'>
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </th>
            <th>Track file <input type="search" placeholder="filter rows" id="rowfilter"><span id="filterclear">x</span></th>
            <th class="number_cell">Points</th>
            <th class="chart_cell"><acronym title="Acquired/Sketchy/Missing/Lost">A/S/M/L</acronym></th>
            <th class="chart_cell">Position</th>
            <th class="chart_cell">Invalid</th>
            <th>View</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for row, asml, imgs, dbgframes, setupfile in tracks: %}
        <tr class="undo_row" id="row_{{loop.index0}}_undo">
          <td></td>
          <td>{{row['trackrel']}}</td>
          <td colspan=5><i>Archived</i></td>
          <td>
            <button type="button" class="btn btn-xs btn-warning" onclick="do_unarchive('{{row['trackpath']}}', {{loop.index0}});" title="Unarchive">
              <span class="glyphicon glyphicon-log-in"></span>
              Undo archive
            </button>
          </td>
        </tr>
        <tr class="track_row" id="row_{{loop.index0}}" data-path='{{row['trackpath']}}' data-index='{{loop.index0}}'>
          <td>
            <button type="button" class="btn btn-default btn-xs text-muted selectbutton" title='Select'>
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td class="trackfile_cell"><a href="/{{row['trackpath']}}">{{row['trackrel']}}</a></td>
          <td class="number_cell">{{row['lines']}}</td>
          <td class="chart_cell">
            <canvas class="asml" data-values="{{'|'.join(asml)}}" title="{{' / '.join(asml)}}"></canvas>
          </td>
          <td class="chart_cell">
            {% if row['heat']: %}
            <canvas class="heatmap" data-values="{{row['heat']}}" title="Position heatmap"></canvas>
            {% endif %}
          </td>
          <td class="chart_cell">
            {% if row['invalid_heat']: %}
            <canvas class="heatmap invalid" data-values="{{row['invalid_heat']}}" title="Lost tracking heatmap"></canvas>
            {% endif %}
          </td>
          <td>
            {% if imgs: %}
            <a href="/view/{{row['trackpath']}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-stats"></span> Plots</a>
            {% endif %}
            {% if dbgframes: %}
            <a href="/dbgframes/{{row['trackpath']}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-camera"></span> Debug</a>
            {% endif %}
            {% if setupfile: %}
            <a href="/{{setupfile}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Setup</a>
            {% endif %}
          </td>
          <td class="actionbuttons">
            {% if row['lines'] > 0: %}
            <button type="button" class="btn btn-default btn-xs" onclick="do_post('/analyze/', 'path={{row['trackpath']}}');">
              {% if imgs: %}
              <span class="glyphicon glyphicon-refresh"></span>
              Re-plot
              {% else: %}
              <span class="glyphicon glyphicon-plus"></span>
              Plot
              {% endif %}
            </button>
            {% endif %}
            <button type="button" class="btn btn-xs btn-danger" onclick="do_archive('{{row['trackpath']}}', {{loop.index0}});" title='Archive'>
              <span class="glyphicon glyphicon-log-out"></span>
            </button>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan=8>
            <button type="button" class="btn btn-default btn-xs text-muted _selectallbutton" title='Select All'>
              <span class="glyphicon glyphicon-ok"></span> De/Select All
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            With selection:
          </h2>
        </div>
        <div class="panel-body">
        <button type="button" class="btn btn-primary active-if-any" disabled="true" id="filterbutton" onclick="tracksel_go('/tracks/filter/');">
          Filter
        </button>
        <button type="button" class="btn btn-primary active-if-2plus" disabled="true" id="heatmapsbutton" onclick="tracksel_go('/heatmaps/');">
          Generate aggregate heatmaps
        </button>
        <button type="button" class="btn btn-primary active-if-any" disabled="true" id="statsbutton" onclick="tracksel_go('/stats/');">
          View Statistics
        </button>
        <button type="button" class="btn btn-primary active-if-any" disabled="true" id="statscsvbutton" onclick="tracksel_go('/stats/', 'csv=true');">
          Download Statistics [.csv]
        </button>
        <button type="button" class="btn btn-primary active-if-any" disabled="true" id="downloadbutton" onclick="tracksel_go('/download/');">
          Download Raw Data [.zip]
        </button>
        <button type="button" class="btn btn-primary active-if-any" disabled="true" title="Re-plot" id="replotselbutton" onclick="analyze_selection();">
          <span class="glyphicon glyphicon-refresh"></span>
          Re-plot
        </button>
        <button type="button" class="btn btn-primary active-if-any" disabled="true" title="Archive" id="archiveselbutton" onclick="archive_selection();">
          <span class="glyphicon glyphicon-log-out"></span>
          Archive
        </button>
      </div>
    </div>
  </div>

</div>
{% endblock %}
