<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track {{trackrel}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            background: #1f1f1f;  // equiv: 0.12
        }
        img {
            padding: 1em;
        }
        .brighter {
            filter: brightness(500%);
            -webkit-filter: brightness(500%);
        }
    </style>
    <script type="text/javascript">
      // Brighten all images and objects (SVG) on '+' keypress.
      document.addEventListener("keypress", function(e) {
        if (String.fromCharCode(e.which) == '+') {
          var imgs = document.querySelectorAll('img,object');
          for (var i = 0 ; i < imgs.length ; i++) {
            imgs[i].classList.add("brighter");
          }
        }
      });
      // Build popup images for debug frames to be shown
      // on mouseover of links to each frame w/in trace plot SVG
      window.addEventListener("load", function(e) {
        var objs = document.querySelectorAll('object');
        // .forEach not very compatible:
        //   https://developer.mozilla.org/en-US/docs/Web/API/NodeList/forEach#Browser_Compatibility
        objs.forEach(function(el) {
          // get position on page of SVG (to shift mouse position, which
          // is given relative to the SVG element).
          var rect = el.getBoundingClientRect();
          var svg_x = rect.left + window.scrollX;
          var svg_y = rect.top + window.scrollY;

          var addPopups = function(e) {
            var svg = el.contentDocument;
            var links = svg.querySelectorAll('a');
            links.forEach(function(link) {
              var imgURL = link.href.baseVal;
              // get position within SVG of the link
              var rect = link.getBoundingClientRect();
              var link_x = rect.left;
              var link_y = rect.top;
              var popup_x = Math.min(Math.max(svg_x + link_x - 150, 20), window.innerWidth - 320);
              var popup_y = (svg_y + link_y + 30);
              // Make an img element to be positioned by the link
              // on mouseover of the link.
              var popup = document.createElement('img');
              popup.src = imgURL;
              popup.style.display = "none";
              popup.style.padding = "0";
              popup.style.border = "3px solid #012";
              popup.classList.add("brighter");  // brightened by default
              popup.style.width = "300px";
              popup.style.position = "absolute";
              popup.style.left = popup_x + "px";
              popup.style.top = popup_y + "px";
              document.body.appendChild(popup);
              // Handle mouseover/mouseout events: show/hide the popup img.
              link.addEventListener("mouseover", function(e) {
                popup.style.display = "block";
              });
              link.addEventListener("mouseout", function(e) {
                popup.style.display = "none";
              });
            });
          };
          // if SVG already loaded, add popups
          if (el.contentDocument) {
            addPopups();
          }
          // add event listener for case if not loaded yet and to
          // run on page reload (e.g., on navigate back to page)
          el.addEventListener("load", addPopups);
        });
      });
    </script>
</head>
<body>
<div class="container">
    <h1>Track <a href="/{{trackfile}}">{{trackrel}}</a></h1>
    <div class="text-center">
        {% for img in imgs: %}
            {% if img.endswith('.svg'): %}
                <object data="/{{img}}" type="image/svg+xml" style='max-width: 100%;'></object>
            {% else: %}
                <a href="/{{img}}"><img style='max-width: 100%;' src="/{{img}}"></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>
